.block {
    margin-top: 50px;
    width: 22%;
   /* width: 280px;
    height: 306px;*/
    padding: 0 30px;
    background-color: #f1f1f1;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: left;
}

.blockOrange {
    margin-top: 50px;
    width: 22%;
   /* width: 280px;
    height: 306px;*/
    padding: 0 30px;
    background-color: #FF9D27;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: left;
}
  
.step{
    font-size: 22px;
    color: #FF9D27;
    padding-top: 30px;
}

.stepOrange {
    font-size: 22px;
    color: #ffffff;
    padding-top: 30px;
}

h2 {
    font-size: 22px;
    color: #000000;
}
  
p {
    font-size: 22px;
    color: #000000;
    padding-top: 15px;
}
