.howItWorks {
  background-color: #000000;
  margin-top: 150px;

  .container {
    max-width: 100%;
    width: 100%;
    padding: 50px 30px;
  }
}



.header {
  color: #ffffff;
  font-size: 45px;
  font-weight: 700;
  padding-bottom: 50px;
  padding-top: 100px;
}

.blocks {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 50px;
  justify-content: center;
  @media (width >= 40rem){
    grid-template-columns: 1fr 1fr;
  }
}

.reverse {
  flex-direction: row-reverse;
}

.block {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  text-align: left;
  gap: 100px;

  .step {
    font-size: 22px;
    color: #ffffff;
    padding-bottom: 10px;
    font-weight: 700;
  }

  h2.title{
    font-size: 22px;
    color: #ffffff;
    padding-bottom: 5px;
  }

  p {
    font-size: 22px;
    // padding-top: 15px;
  }
  
  .description {
    color: rgb(255, 255, 255);
  }

  img {
    width: 800px;
    height: 600px;
    object-fit: cover;
    border-radius: 20px;
  }


  .singleStep {
    text-align: left;
  }

  .blockContent {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
}

@media (max-width: 768px) {

  .header {
    font-size: 28px;
    text-align: center;
    padding: 50px 0 30px;
  }

  .blocks {
    gap: 30px;
    margin-top: 20px;
  }

  .block {
    flex-direction: column-reverse; ;           
    align-items: center;
    padding: 20px;
    gap: 30px;

    img {
      width: 100%;
      height: auto;
      max-width: 100%;
    }

    .step,
    h2.title,
    .description {
      font-size: 18px;
      text-align: center;
    }

    .blockContent {
      gap: 30px;
      padding: 0 10px;
    }
  }

  .reverse {
    flex-direction: column-reverse; ; 
  }
}
