h1 {
    font-size: 36px;
    font-weight: 700;
}

.highlightedSentence {
    color: #FF9D27;
    font-weight: 700;
}

.descriptionApp {
    margin-top: 50px;
    font-size: 22px;
    font-weight: 300;
    text-align: center;
    line-height: 40px;
}