h1 {
  font-size: 45px;
  font-weight: 700;
}

.highlightedSentence {
  font-weight: 700;
  
}

.descriptionApp {
  margin-top: 50px;
  font-size: 22px;
  font-weight: 300;
  text-align: justify;
  line-height: 35px;
}

.BlockFirst{
  margin-top: 50px;
  display: flex;
  align-items: left;
}

.FirstImg {
  width:550px;
  height: 450px;
  border-radius: 10px;
  margin-right: 20px;
}

.SecondtImg {
  width:150px;
  height: 140px
}