.about {
  margin-top: 120px;
}

.header {
  font-size: 64px;
  font-weight: 700;
  text-align: left;
}

.highlightedSentence {
  font-weight: 700;
}

.descriptionApp {
  width: 50%;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 300;
  text-align: justify;
  line-height: 35px;
}

.textBlockFirst,
.textBlockSecond{
  display: flex;
  width:100%;
  margin-top: 70px;
}

.firstImg { 
  width: 50% ;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 50px;
 }

.secondtImg {
  width: 50% ;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
  margin-left: 50px;
}