
.howItWorks {
  margin-top: 150px;
}

.blocks {
  margin-top: 50px;
  display: flex;
  flex-wrap: nowrap; /* Либо wrap и поставить фикс w/h в ruleBlock.css для блока, но будут сьезжать автоматом*/
  gap: 50px;
  justify-content: center;

  & > div:nth-child(even) {
    background-color: #ECD06F;
  }

  & > div:nth-child(even) > p.step {
    color: #000000;
  }
}

.header {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 70px;
}

.block {
  width: 22%;
  /* width: 280px;
    height: 306px;*/
  padding: 0 30px;
  background-color: #f1f1f1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  text-align: left;
}

.step {
  font-size: 22px;
  color: #000000;
  padding-top: 30px;
}

h2 .title{
  font-size: 22px;
  color: #000000;
}

p {
  font-size: 22px;
  // padding-top: 15px;
}

.description {
  color: black;
}
