.home {
  background-color: #000000;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
  color: white;
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 120px;
  padding-left: 80px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
 
}

.content h1 {
  margin-bottom: 15px;
  font-size: 64px;
  font-weight: 400;
  color: #ffffff;
}

.content p {
  font-size: 22px;
  font-weight: 400;
  color: #fff;
}

.button {
  margin-top: 250px;
  width: 250px;
  height: 60px;
  background: url("/home/animButton.gif");
  background-size: cover;
  border-radius: 30px;
  cursor: pointer;
  color: #000000;
  font-size: 14px;
  font-weight: bold;
}


