.phoneMockup {
    position: relative;
    width: 450px; 
    height: 520px; 
    background: url('https://mockuphone.com/images/devices_picture/apple-iphone14plus-blue-portrait.png') no-repeat center/contain; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 280px;
    margin-top: 50px
  }

  .phoneScreen {
    position: absolute;
    top: 40px;        
    width: 220px;
    height: 450px;
    overflow: hidden;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .phoneScreen img{
    width: 215px; 
    height: 460px;
    overflow: hidden;
    border-radius: 30px;
    
  }