$layout-breakpoint-sm: 40rem /* 640px */;
$layout-breakpoint-md: 48rem /* 768px */;
$layout-breakpoint-lg: 64rem /* 1024px */;
$layout-breakpoint-xl: 80rem /* 1280px */;
$layout-breakpoint-xl2: 96rem /* 1536px */;