// CSS Reset
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

// Reset basic HTML elements
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr {
  margin: 0;
  padding: 0;
}
// Reset lists
ul,
ol {
  list-style: none;
}
// Reset buttons
button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
// Reset links
a {
  color: inherit;
  text-decoration: none;
}
// Reset tables
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --spacing: 0.25rem;
}

.container {
  width: 100%;
  @media (width >= 40rem /* 640px */) {
    max-width: 40rem /* 640px */;
  }
  @media (width >= 48rem /* 768px */) {
    max-width: 48rem /* 768px */;
  }
  @media (width >= 64rem /* 1024px */) {
    max-width: 64rem /* 1024px */;
  }
  @media (width >= 80rem /* 1280px */) {
    max-width: 80rem /* 1280px */;
  }
  @media (width >= 96rem /* 1536px */) {
    max-width: 96rem /* 1536px */;
  }
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-inline: calc(var(--spacing) * 4) /* 1rem = 16px */;
  @media (width >= 40rem /* 640px */) {
    padding-inline: calc(var(--spacing) * 6) /* 1.5rem = 24px */;
  }
}
